In [42]:
import pandas as pd
import numpy as np

### Q1. Pandas Version
What's the version of Pandas that you installed?

**Answer:**

In [2]:
pd.__version__

'2.3.2'

In [3]:
#!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

### Q2. Records count
How many records are in the dataset?

In [4]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

**Answer:**

In [5]:
# 9704 records

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [6]:
df.fuel_type.unique(), df.fuel_type.nunique()

(array(['Gasoline', 'Diesel'], dtype=object), 2)

**Answer:**

In [7]:
# 2 types of fuel

### Q4. Missing values
How many columns in the dataset have missing values?

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

**Answer:**

In [9]:
# 4 columns

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

**Answer:**

In [10]:
round(df.query('origin == "Asia"').fuel_efficiency_mpg.max(), 2)

np.float64(23.76)

### Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.

**Answer:**

In [33]:
df.horsepower.median()

np.float64(149.0)

2. Next, calculate the most frequent value of the same horsepower column.

**Answer: increased**

3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again

In [22]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [31]:
df["horsepower_filled"] = df.horsepower.fillna(152)
df["horsepower_filled"].median()

np.float64(152.0)

### Q7 Sum of weights

In [45]:
X = np.array(df[df.origin == "Asia"][["vehicle_weight", "model_year"]].head(7))

In [52]:
XTX = X.T @ X

In [53]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [54]:
w = (np.linalg.inv(XTX) @ X.T) @ y

In [55]:
np.sum(w)

np.float64(0.5187709081074016)